USE [yamaha]
GO
/****** Object:  Table [dbo].[helmets]    Script Date: 17-12-2024 14:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[helmets](
	[imgSrc] [nvarchar](50) NULL,
	[name] [nvarchar](20) NULL,
	[price] [int] NULL
) ON [PRIMARY]
GO
